body{
    background-color: #F9D2D2;
    color: #A2A2A2;
    padding: 0;
    margin: 0;
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
    text-align: center;
}

h1{
    text-transform: uppercase;
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
}

footer{    
    text-align: center;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}