<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/home.css')}}">
    <title>Document</title>

<body>
  <h1 style= "color:#5FCFFF; width: 100%;" >Acá podras elegir una de estas opciones:</h1>
  <a class="boton1" href="/lugares">Ir a los lugares favoritos</a>
  <a class="boton2" href="/personajes">Ir a los personajes favoritos</a>
  </div>
</body>
</head>
</html>

