<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP| lugares</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'lugares.css')}}">
</head>
<body>
    <main class="Photo-gallery-img">
        <h1 style="color: #D8BFD5;">Bienvenido</h1>
        <h1 style="color: #D8BFD5;" >Estos son mis 5 lugares favoritos que quiero conocer:</h1>
        <h1 style="color: #F6B4CC; width: 100%;">Dubai</h1>
        <hr style="color: #F6B4CC; width: 100%;">
            <img src="{{url_for('static',filename = 'images/Dubai.jpg')}}" alt="lugares">
        <h1 style="color: #F6B4CC; width: 100%;">Paris</h1>
        <hr style="color: #F6B4CC; width: 100%;">
            <img src="{{url_for('static',filename = 'images/ParisC.jpg')}}" alt="lugares">
        <h1 style="color: #F6B4CC; width: 100%;">Santorini</h1>
        <hr style="color: #F6B4CC; width: 100%;">
            <img src="{{url_for('static',filename = 'images/Santorini.jpg')}}" alt="lugares">
        <h1 style="color: #F6B4CC; width: 100%;">Italia</h1>
        <hr style="color: #F6B4CC; width: 100%;">
            <img src="{{url_for('static',filename = 'images/Italia.jpg')}}" alt="lugares">
            <hr style="color: #F6B4CC; width: 100%;">
        <h1 style="color: #F6B4CC; width: 100%;">Londres</h1>
            <img src="{{url_for('static',filename = 'images/London.jpg')}}" alt="lugares">
    </main>
</body>
    <footer>
        <p><a href="home">Regresar al home</a></p>
    </footer>
</html>