<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP| lugares</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'contactanos.css')}}">
</head>
<body>
    <main class="container-fluid" id='main'>
        <h1 style="color: #75c8f1;">Bienvenido</h1>
        <h1 style="color: #0080ff;" >Contactos:</h1>
        <h1 style="color: #0080ff;width: 100%;">Pediatria</h1>
        <h1 style="color: #0080ff; width: 100%;">telefono: 34565789</h1>
        <hr style="color: #0080ff; width: 100%;">
        <h1 style="color: #0080ff; width: 100%;">Oftalmologia</h1>
        <h1 style="color: #0080ff; width: 100%;">telefono:5505050984</h1>
        <hr style="color: #0080ff; width: 100%;">
        <h1 style="color: #0080ff; width: 100%;">Cardiologia </h1>
        <h1 style="color: #0080ff; width: 100%;">telefono: 3455657</h1>
        <hr style="color: #0080ff;width: 100%;">
        <h1 style="color: #0080ff; width: 100%;">Medicina Interna</h1>
        <h1 style="color: #0080ff; width: 100%;">telefono: 758786786</h1>
        <hr style="color: #0080ff;width: 100%;">
        <h1 style="color: #0080ff;width: 100%;">Neurologia</h1>
        <h1 style="color: #0080ff; width: 100%;">telefono: 3017384869</h1>
        <hr style="color: #0080ff;width: 100%;">
        <h1 style="color: #0080ff;width: 100%;">Direccion:</h1>
        <h1 style="color: #0080ff; width: 100%;">Transversal 7A # 30-349</h1>
    </main>
</body>
    <footer>
        <p><a a class='boton1' href="home">Regresar al home</a></p>
    </footer>
</html>