<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP| lugares</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'curioso.css')}}">
</head>
<body>
    <main class="container-fluid" id='main'>
        <div class= "container-fluid short-info" id="tribute-info">
        <h1 style="color: #75c8f1;">Bienvenido</h1>
        <h1 style="color: #0080ff;">Informacion Curiosa</h1>
        <hr style="color: #0080ff; width: 100%;">
            <img class="Photo-gallery-img" src="{{url_for('static',filename = 'images/yo.jpg')}}" alt="information">
    <div class= 'short-info-content'>
        <h2 style="color: #0b1a21;">Me llamo Maria Camila Herrera Mesa, estoy en 4 semestre de ingenieria biomedica en la universidad ces, tengo 21 años, 
        empece hace poco un emprendimiento que se llama choklad, me gusta mucho ver series y  me gusta hacer ejercicio</h2>
    </div>
    </main>
        </div>
</body>
    <footer>
        <p><a a class='boton1' href="home">Regresar al home</a></p>
    </footer>
</html>