<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP| lugares</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'doctores.css')}}">
</head>
<body>
    <main class="container-fluid" id='main'>
        <h1 style="color: #75c8f1;">Bienvenido</h1>
        <h1 style="color: #0080ff;" >Lista de pacientes internados</h1>
        <h6 style="color: #0080ff; width: 100%;">Alex Karev-Pediatra</h1>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Maria Cristina Mesa</h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Maria Camila Herrera Mesa</h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Felipe Herrera</h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Marco Berrio</h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Fernanda Duque </h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Valentina Muñoz</h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Juan Esteban Loaiza</h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Adriana Muñoz</h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Cristina Perez</h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Maria Eugenia Ochoa</h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Diana Jaramillo</h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Clara Sanchez </h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Manuela Jaramillo</h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Francisco Mesa</h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Gonzalo Jaramillo </h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Juan Jose Rios</h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Pedro Berrio</h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Amparo Arango</h6>
        <hr style="color: #0080ff; width: 100%;">
        <h6 style="color: #0080ff; width: 100%;">Lucas Fernandez</h6>
    </main>
</body>
    <footer>
        <p><a a class='boton1' href="home">Regresar al home</a></p>
    </footer>
</html>