<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP| lugares</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'home.css')}}">
</head>
<body>
    <div>
        <h1 id= 'title'>Elige una de las opciones a la que quieras entrar</h1>
    </div> 
    <div class= 'bt-group'>
        <a class= 'boton1' href="pacientes">Ir a Pacientes</a>
        <a class='boton2' href="doctores">Ir a Doctores</a>
        <a class= 'boton3'href="conocenos">Ir a Conococenos</a>
        <a class= 'boton4'href="contactanos">Ir a Contactanos</a>
        <a class= 'boton5'href="curioso">Ir a Curioso</a>
    </div>      
</body>
</html>