<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP| lugares</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'home.css')}}">
</head>
<body>
    <div>
        <h1 id= 'title'>Elige una de las opciones a la que quieras entrar</h1>
    </div> 
    <div class= 'bt-group'>
    <a href="doctors">Ir a Doctores</a>
    <a href="services">Ir a Servicios</a>
    <a href="information">Ir a Informacion</a>
    <a href="contacts">Ir a contactos</a>
    </div>      
</body>
</html>