<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP| lugares</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'information.css')}}">
</head>
<body>
    <main class="container-fluid" id='main'>
        <div class= "container-fluid short-info" id="tribute-info">
        <h1 style="color: #75c8f1;">Bienvenido</h1>
        <h1 style="color: #0080ff;">Informacion general de la clinica</h1>
        <h1 style="color: #0080ff; width: 100%;">Clinica Ces</h1>
        <hr style="color: #0080ff; width: 100%;">
            <img class="Photo-gallery-img" src="{{url_for('static',filename = 'images/ces.jpg')}}" alt="information">
    <div class= 'short-info-content'>
        <h2 style="color: #0b1a21;">Trabajamos conjuntamente con la Universidad CES en busca del bienestar de los pacientes, con alta calidad humana, ética y científica,
            en la prestación de servicios de salud y en la formación de profesionales idóneos.
            Contamos con más de 20 especialidades médicas, servicios de mediana y alta complejidad y una capacidad instalada para brindar una atención segura y de calidad a nuestros pacientes, 
            quienes son nuestra razón de ser.
            Prestamos servicios de salud bajo el principio institucional Primum non nocere “Primero No Hacer Daño”, creando un vínculo de confianza y calidad entre nuestro equipo de salud y los pacientes.</h2>
    </div>
    </main>
        </div>
</body>
    <footer>
        <p><a a class='boton1' href="home">Regresar al home</a></p>
    </footer>
</html>