<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP| lugares</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'services.css')}}">
</head>
<body>
    <main class="container-fluid" id='main'>
        <h1 style="color: #75c8f1;">Bienvenido</h1>
        <h1 style="color: #0080ff;" >Servicios de la clinica</h1>
        <h1 style="color: #0080ff; width: 100%;">Pediatria</h1>
        <hr style="color: #0080ff; width: 100%;">
            <img class="Photo-gallery-img" src="{{url_for('static',filename = 'images/pediatria.jpg')}}" alt="services">
        <h1 style="color: #0080ff; width: 100%;">oftalmologia</h1>
        <hr style="color: #0080ff; width: 100%;">
            <img class="Photo-gallery-img" src="{{url_for('static',filename = 'images/oftalmologia.jpg')}}" alt="services">
        <h1 style="color: #0080ff; width: 100%;">Cardiologia </h1>
        <hr style="color: #0080ff; width: 100%;">
            <img class="Photo-gallery-img" src="{{url_for('static',filename = 'images/cardiologia.jpg')}}" alt="services">
        <h1 style="color: #0080ff; width: 100%;">Medicina interna</h1>
        <hr style="color: #0080ff; width: 100%;">
            <img class="Photo-gallery-img" src="{{url_for('static',filename = 'images/interna.jpg')}}" alt="services">
        <hr style="color: #0080ff; width: 100%;">
        <h1 style="color: #0080ff; width: 100%;">Neurologia</h1>
            <img class="Photo-gallery-img" src="{{url_for('static',filename = 'images/neurologia.jpg')}}" alt="services">
    </main>
</body>
    <footer>
        <p><a a class='boton1' href="home">Regresar al home</a></p>
    </footer>
</html>